@font-face {
    font-family: 'Marske';
    src: url('/fonts/marske.ttf');
}

@font-face {
    font-family: 'Exan Regular';
    src: url('/fonts/Exan-Regular.ttf');
}

html, body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    min-height: 100%;
    background-color: #fbfbfb;
}

.main {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 70px;
}

#header-bar {
    background: deepskyblue;
}

#header-bar .logo {
    color: white;
}

.view-controls {
    margin-top: 8px;
    margin-bottom: 10px;
}

.json-display {
    margin-top: 20px;
    overflow: auto;
    text-align: left;
}

.control-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.json-object-display {
    border-left: 1px solid;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.json-object-display.level-0 {
    border-color: #0074D9;
}
.json-object-display.level-1 {
    border-color: #2ECC40;
}
.json-object-display.level-2 {
    border-color: #F012BE;
}
.json-object-display.level-3 {
    border-color: #FF851B;
}
.json-object-display.level-4 {
    border-color: #001f3f;
}
.json-object-display.level-5 {
    border-color: #FF4136;
}

.json-object-display dl > dt {
    margin-bottom: 15px;
    color: rgb(110, 110, 110) !important;
}

.json-object-display dl dd {
    padding-left: 20px;
}

.horiz-list {
    display: flex;
    flex-direction: row;
}
.horiz-list > *:nth-child(2n - 1) {
    margin-left: 7px;
}

.header {
    font-family: 'Exan Regular', sans-serif !important;
    font-weight: 500;
    font-size: 35px !important;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.header img {
    height: 25px;
    color: white;
    margin-right: 15px;
}

.header-text {
    padding-bottom: 2px;
    font-size: 40px;
}

.json-object-display .kvp {
    margin: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.json-object-display .kvp b {
    margin-right: 7px;
    color: rgb(110, 110, 110);
    text-transform: uppercase;
}
